{% extends "layout.html" %}
{% load static from staticfiles %}

{% block title %}Change Password{% endblock %}

{% block css %}

{% endblock %}
{% block js %}
<script type="text/javascript"
        src="{% static "js/jquery.pwstrength.js" %}"></script>
<script type="text/javascript">
    jQuery(function($) { $('#id_new_password').pwstrength(); });
</script>
{% endblock %}

{% block body %}
<form method="POST" action="{% url 'accounts:password_change' %}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.current_password.errors }}
        <label for="{{ form.current_password.id_for_label }}">Current Password:</label>
        {{ form.current_password }}
    </div>
    <div>
        <ul class="nonfield">
            <li><strong>New password my be at least 14 characters and contain:</strong></li>
            <li>Lower and uppercase letters</li>
            <li>Number characters</li>
            <li>At least one chaacter from: #*@$!%</li>
            <li>No spaces</li>
            <li>Not your first, last or username</li>
        </ul>
    </div>
    <div class="fieldWrapper">
        {{ form.new_password.errors }}
        <label for="{{ form.new_password.id_for_label }}">New Password:</label>
        {{ form.new_password }}
    </div>
    <div id="pwindicator">
        <div class="bar"></div>
        <div class="label"></div>
    </div>
    <div class="fieldWrapper">
        {{ form.confirm_password.errors }}
        <label for="{{ form.confirm_password.id_for_label }}">Confirm Password:</label>
        {{ form.confirm_password }}
    </div>
    <input type="submit" class="button-primary" value="Save New Password">
</form>
{% endblock %}
